.container a {
    font-family: "Epilogue", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
}

.container {
    border: 1.5px solid #000000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    max-width: fit-content;
}