.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lumpsum, .monthly, .speciality {
    list-style: none; 
    padding: 0;       
}

.lumpsum li, .monthly li{
    display: flex;
    justify-content: space-between;
    align-items: center;     
    margin-bottom: 0.5rem;
}

.speciality {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 1.5rem 0rem 1.5rem;
    width: 70vw;
}

.speciality li {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}

.speciality li::after{
    content: "⬤";      
    color: #000000;
    font-size: 0.45rem;    
    margin-left: 7rem;  
}

.lumpsum li::after, .monthly li::after{
    content: "⬤";      
    color: #000000;       
    font-size: 0.45rem;    
    margin-left: 2rem;  
}

.lumpsum li:nth-last-child(-n+2)::after {
    content: "〇";      
    color: #000000;       
    font-size: 0.45rem;    
    margin-left: 2rem;  
}


