.container {
    border: 1.5px solid #000000;
    border-radius: 15px;
    padding: 1rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    padding-top: 1rem;
    max-width: 80%;
}

.card {
    padding-bottom: 1rem;
}

.number {
    font-family: "Syne", sans-serif;
    font-size: 2rem;
    margin: 0;
    margin-top: -0.8rem;
    margin-left: -0.3rem;
    margin-right: auto;
}

.title {
    font-size: 1.4rem;
    font-family: "Epilogue", sans-serif;
    font-weight: 600;
}