:root {
  background-color: #EDEDED;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Epilogue", sans-serif;
}

-webkit-scrollbar {
  display: none;
}

.container {
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 15px;
  height: 100vh;
  margin: 2vh 1vh 2vh 1vh;
  padding: 2rem;
}

.epilogue-title {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.syne-text {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}